/* A nice font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

/* CSS RESET TO AVOID PAIN FROM STUPID THINGS THE EVIL AND HORRIBLE BROWSER ADDS TO MY BEAUTIFUL AMAZING FANTASTIC CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, /*iframe,*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: none;
    scroll-behavior: smooth;

    font-family: 'Heebo', sans-serif;
    text-align: center;

    /* Prevent Highlighting */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

#page2 {
    font-size: 2rem;
}

.fpbg {
    width: 300vw;
    height: 100vh;

    position: absolute;
}
#l0 {
    background: #befffc;
    z-index: -6;
}
#l1 {
    background: url(img\\summer\\layer1.png);
    background-size: auto 100vh;

    z-index: -5;
}
#l2 {
    background: url(img\\summer\\layer2.png);
    background-size: auto 100vh;
    z-index: -4;
}
#l3 {
    background: url(img\\summer\\layer3.png);
    background-size: auto 100vh;
    z-index: -3;
}
#l4 {
    background: url(img\\summer\\trees.png);
    background-size: auto 100vh;
    z-index: -2;
}

.mainPage {
    height: 100vh;
    width: 100vw;
    z-index: -1;

    font-size: 6rem;

    color: #fff;
    text-align: center;
}
#page1 {
    position: absolute;
    left: 100vw;
}
#page2 {
    position: absolute;
    left: 200vw;
}

nav {
    position: absolute;
    color: #111;
    height: 98vh;
    width: 100vw;
    top: 0%;

    display: flex;
    justify-content: space-between;
    z-index: 1;
}
/* Loosing brain cells */
#ThE-eNd {
    top: 30%;
}

.navbtn {
    padding: 10px 20px 10px 20px;
    width: 14vh;
    height: 100%;
    border: none;
    text-decoration: none;
}
#forwards {
    background: url("img\\next.png");
    transition: all 0.2s ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#forwards:hover {
    transition: all 0.2s ease-in-out;
    background-size: 115%;
}
#backwards {
    background: url("img\\back.png");
    transition: all 0.2s ease-in-out;;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#backwards:hover {
    transition: all 0.2s ease-in-out;
    background-size: 115%;
}

.title {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: -3;

    font-size: 6rem;

    color: #111;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;

    font-size: 10rem;
    background: #88888813;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    font-size: 1rem;
    opacity: 0;
    color: #111;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3rem;
    color: #111;
    border-bottom: 1px solid #111;
}
#Page2Sub {
    border-bottom: 2px solid #111;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.tl {
    padding-top: 2rem;
    grid-area: 1 / 1 / 2 / 2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
}
.bl {
    grid-area: 2 / 1 / 3 / 2;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
}
.tr {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
}
.br {
    grid-area: 2 / 2 / 3 / 3;
    border-top: 1px solid #111;
    border-left: 1px solid #111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
    padding: 5px;
}
#brtl {
    grid-area: 1 / 1 / 3 / 2;
    /* border: 2px solid #ff0000; */
    background: url(img\\bramble\\thumbnail_20220814_163109.jpg);
    background-size: 100%;
    background-position: center;
}
#brtm {
    grid-area: 1 / 2 / 3 / 3;
    /* border: 2px solid #00ff00; */
    background: url(img\\bramble\\Evil_Squirrel.jpg);
    background-size: 100%;
    background-position: center;
}
#brtr {
    grid-area: 1 / 3 / 2 / 4;
    /* border: 2px solid #0000ff; */
    background: url(img\\bramble\\Bramble_3.png);
    background-size: 100%;
    background-position: center;
}
#brbl {
    grid-area: 3 / 1 / 4 / 3;
    /* border: 2px solid #ffff00; */
    background: url(img\\bramble\\Bramble_1.png);
    background-size: 100%;
    background-position: center;
}
#brbr {
    grid-area: 2 / 3 / 4 / 4;
    /* border: 2px solid #ff00ff; */
    background: url(img\\bramble\\thumbnail_IMG_20221020_225537_789.jpg);
    background-size: 100%;
    background-position: center;
}

.wrap {
    height: 50%;
    transform: translate(0, 50%);
    padding: 0rem 2rem;
}
.header {
    font-size: 2rem;
}
.caption {
    font-size: 1.5rem;
}
#profileimg {
    height: 12rem;
    margin: auto;
    aspect-ratio: 1/1;
    background: url(img\\bramble.png);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #111;
    border-radius: 100%;
}

/* It was going to be all fancy and responsive but I didn't have time :( */
/* @media (min-aspect-ratio: 4/3) {
    .content {
        position: absolute;
        height: 90vh;
    }
}

@media (max-aspect-ratio: 4/3) {
    nav {
        position: absolute;
        top: 80vh;
        height: 20vh;
        width: 100vw;
    
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }

    .title {
        position: absolute;
        left: 50vw;
        top: 40vh;
        transform: translate(-50%, -50%);
        z-index: -3;
    
        font-size: 4.5rem;
    
        color: #111;
    }
    .content {
        position: absolute;
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr); 
    }
    .subtitle { grid-area: 1 / 1 / 2 / 3; }
    .tl { grid-area: 2 / 1 / 3 / 2; }
    .bl { grid-area: 3 / 1 / 4 / 2; }
    .tr { grid-area: 4 / 1 / 5 / 2; }
    .br { grid-area: 5 / 1 / 6 / 2; } 
} */